@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
}
::-webkit-scrollbar-track {
    background-color: #3e3e3e;
}

body, html {
    background-color: #5e5e5e; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}
textarea {
    resize: none;
    height: 260px;
    width: 80vw;
    margin: 20px 0;
    background-color: #2e2e2e;
    color: #e5e5e5;
    border: none;
    font-size: 20px;
    border-radius: 0.3rem;
    padding: 7px;
    white-space: nowrap;
    scroll-behavior: auto;
}
p {
    color: #3b3b3b;
    font-size: 80px;
}
#go {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2e2e2e;
    border: none;
}
#equation {
    overflow-x: scroll;
    scroll-behavior: auto;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    font-size: 30px;
    color: #e8e8e8;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 1rem;
    height: 500px;
}
.card-header {
    border-radius: .5rem .5rem 0 0;
    background-color: #2e2e2e;
    width: 100%;
    height: 50px;
    color: #e8e8e8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    font-family: Roboto;
    font-size: 30px;
}
.card-body {
    background-color: #3e3e3e;
    border-radius: 0 0 0.5rem 0.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.material-symbols-rounded {
    margin: 0px 0.75rem;
    color: #e8e8e8;
}
.quick-bar {
    display: flex;
    width: 75vw;
    justify-content: space-between;
    margin-top: 2rem;
}
.quick button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border: none;
    background-color: transparent;
}
.ex {
    color: #cccccc;
    font-size: 12.5px;
    margin: auto 0;
    transition: font-size 0.1s ease;
}
.name {
    font-size: 0.7rem;
    color: #e8e8e8;
    font-family: Roboto;
    margin: 5px 0px;
}
.quick {
    background-color: #2e2e2e;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    transition: background-color 0.2s ease;
}




#go:hover {
    background-color: #1e1e1e;
    cursor: pointer;
}
#go:active {
    .material-symbols-rounded {
        color: #43adff;
    }
}
.quick:hover {
    background-color: #1e1e1e;
    cursor: pointer;
    .name {
        color: #43adff;
    }
    .ex {
        color: #ffffff;
        font-size: 15px;
    }
}
.quick button:hover {
    cursor: pointer;
}
textarea:focus {
    outline: none;
}